---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
// import topimage from "../images/IMG_0613.jpg";
// import bottomimage from "../images/IMG_0616.jpg";
const pageTitle = "About Us";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <h2 style="text-align: center">Area Covered</h2>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d50449.551788076!2d145.11568503869137!3d-37.78776678792782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1751182091902!5m2!1sen!2sau"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <h2 style="text-align: center">Our Story</h2>

      <p>
        At On-Track Auto, we're redefining convenience in car maintenance and
        repair across Northeast Melbourne. We understand that your time is
        precious and that traditional garage visits can be a hassle. That's why
        we bring the workshop to you, providing top-tier automotive expertise
        directly to your home, workplace, or even the roadside, whenever you
        need it most.
      </p>
      <p>
        Our journey began with a simple idea: make car care stress-free and
        accessible. No more disrupting your day, arranging lifts, or wasting
        time in waiting rooms. We've built our service around your schedule,
        ensuring that professional, reliable car service fits seamlessly into
        your life. Our team consists of passionate, certified mechanics equipped
        with the latest tools and technology, ready to handle a wide range of
        automotive needs right where your vehicle is.
      </p>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
    .map {
      text-align: center;
      // overflow: hidden;
      padding-bottom: 2em;
      // position: relative;
      height: 300px;
    }
    .map iframe {
      // left: 0;
      // top: 0;
      height: 100%;
      width: 80%;
      // position: absolute;
      // border: 0;
    }
    // .grid {
    //   grid-gap: 16px;
    // }
    // .illustration {
    //   padding: 0 3em;
    // }
    // @media (max-width: 768px) {
    //   .right-col {
    //     order: 1;
    //   }
    //   .left-col {
    //     order: 2;
    //   }
    // }
  </style>
</Layout>
