---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactFormNetlify.astro";
import Phone from "../components/IconParkOutlinePhone.astro";
const title = "Contact Us";
const description = "Contact Your Trusted Mobile Mechanic";
---

<Layout title={title} description={description}>
  <div class="container">
    <article>
      <p>We look forward to hearing from you.</p>
      <p>
        <p>
          <Phone />
          <a href="tel:0461543571">0461 543 571</a>
        </p>

        <div class="grid">
          <div>
            <h2 style="text-align: center">Contact</h2>
            <p style="text-align: center; font-weight: bold">
              Contact us via email by using this form.
            </p>
            <ContactForm />
          </div>
        </div>
      </p>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
  </style>
</Layout>
