---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Photogallery from "../components/Gallery.astro";
const title = "Photo Gallery";
const description = "Photos of Your Trusted Mobile Mechanic";
---

<Layout title={title} description={description}>
  <div class="container">
    <article>
      <p>
        This photo gallery captures the range of services we provide. <b
          >Click on a photo to open a slideshow.</b
        >
      </p>
      <p><Photogallery /></p>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
  </style>
</Layout>
