---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
// import topimage from "../images/IMG_0613.jpg";
// import bottomimage from "../images/IMG_0616.jpg";
const pageTitle = "Services";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <h2>Servicing</h2>
      <p>We offer a range of different service options for your vehicle:</p>
      <ul>
        <li>
          Our Basic Service package is great for a quick oil and filter change and
          a general safety check over of your vehicle to make sure you are safe on
          the roads.
        </li><li>
          Our more in-depth Logbook Servicing follows your vehicle's specified
          service intervals per the Manufacturer's specifications, keeping your
          vehicle up to the dealership’s standards. With our mechanics being fully
          qualified that means we are fully capable of stamping your service
          logbooks to make sure that you don’t lose your new car warranty!
        </li>
      </ul>

      <h2>Repairs</h2>
      <p>
        We are able to carry out a vast range of repairs. From fixing oil and coolant leaks, suspension and brake components, ignition and fuel systems to your vehicles starting and charging systems. We also can carry out minor panel and interior electrical component replacements such as side mirrors, door trims, window switches and regulators.
      </p>

      <h2>Battery Replacement</h2>
      <p>
        If your battery has died and left you stranded or is just starting to get old and maybe isn’t turning your car over as quickly as it used to. We can come out, test your battery and let you know on the spot the condition it’s in and if it requires replacing. The batteries we use are high quality and come with the manufacturer’s warranty, ensuring you with confidence and reliability.
      </p>
      <h2>Brake Replacement</h2>
      <p>
        If your brakes are making a funny noise or maybe they just aren’t feeling like they used to, we offer full brake component replacements for most vehicles. Whether you just need your brake pads and rotors replaced, or something more in-depth such as a brake calliper or master cylinder, We are able to help.
      </p>
      <h2>Suspension</h2>
      <p>
        We can diagnose, repair and replace a whole range of different types of vehicle's suspension. From your car making a weird noise while going over bumps, like having a knock or squeak, to a full suspension upgrade. Whether that may be a lift kit for your 4wd or aftermarket suspension for your street car. Don’t hesitate to get in contact with us to see if we are able to help.
      </p>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
    .grid {
      grid-gap: 16px;
    }
    .illustration {
      padding: 0 3em;
    }
    @media (max-width: 768px) {
      .right-col {
        order: 1;
      }
      .left-col {
        order: 2;
      }
    }
  </style>
</Layout>
