---

---

<form
  name="contact"
  method="POST"
  netlify-honeypot="bot-field"
  data-netlify="true"
  data-astro-reload
  novalidate
>
  <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </p>
  <input
    type="hidden"
    name="subject"
    data-remove-prefix
    value="Contact Form from ON-TRACK AUTO"
  />

  <fieldset class="grid">
    <label>Name: <input type="text" name="name" required /></label>
    <label>Email Address: <input type="email" name="email" required /></label>
    <label
      >Mobile Number: <input
        type="tel"
        name="phone"
        pattern="[0-9]{4} [0-9]{3} [0-9]{3}"
      /></label
    >
  </fieldset>

  <label>
    Message: <textarea name="message"></textarea>
  </label>

  <p>
    If you would like to see if we have a date available for a mobile service,
    please enter it here:
  </p>

  <fieldset class="grid">
    <label for="date1">Your first choice date:</label>
    <input type="date" id="date1" name="date1" />
    <label for="date2">Your second choice date:</label>
    <input type="date" id="date2" name="date2" />
  </fieldset>
  <fieldset class="grid">
    <label for="date3">Your third choice date:</label>
    <input type="date" id="date3" name="date3" />
    <label for="rego">Vehicle Registration:</label>
    <input type="text" id="rego" name="rego" />
  </fieldset>

  <div data-netlify-recaptcha="true"></div>
  <p>
    <button type="submit">Send</button>
  </p>
  <style>
    .hidden {
      display: none;
    }
    label {
      color: var(--pico-h1-color);
    }
    button {
      width: 50%;
      margin-top: 2em;
    }
  </style>
</form>
