---

---

<div class="cta-wrap">
  <div class="cta">
    <h1>Book Mobile Service</h1>
    <h4>We Come to You!</h4>
    <a href="/contact/" role="button">Get in Touch</a>
  </div>
</div>
<style>
  .cta-wrap {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .cta {
    position: sticky;
    > h1 {
      position: sticky;
      background: linear-gradient(
        to top,
        var(--pico-primary-hover),
        var(--pico-primary-focus)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.5rem;
      font-weight: 500;
      margin-bottom: 0;
      /* Text Emboss */
      background-clip: text;
      color: transparent;
      text-shadow: 0.001em 0.05em 0.01em #0004;
      -webkit-text-stroke: 0.01em #00000015;
      filter: brightness(120%);
    }
    > h4 {
      position: sticky;
      /* color: var(--pico-primary-inverse); */
      font-size: 2.5rem;
      font-weight: 500;
      background: var(--pico-primary-inverse);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Text Emboss */
      background-clip: text;
      color: transparent;
      text-shadow: 0.001em 0.05em 0.01em #0004;
      -webkit-text-stroke: 0.01em #00000015;
      filter: brightness(120%);
    }
  }
  /* .cta:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--pico-primary-hover-background);
    opacity: 0.75;
    clip-path: url(#clip); /* applying clip animation 
  } */
  /* @media screen and (min-width: 769px) {
    .cta-wrap {
      margin-top: 100px;
    }
  } */
</style>
