---

---

<div class="cta-wrap">
  <!-- <h2>Design, Develop, Launch and Manage</h2> -->
  <div class="cta">
    <h1>Book Mobile Service</h1>
    <h4>We Come to You!</h4>
    <a href="/contact/" role="button">Get in Touch</a>
  </div>
</div>
<style>
  .cta-wrap {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .cta {
    position: sticky;
    /* padding: 3em; */
    > h1 {
      position: sticky;
      background: linear-gradient(
        to right,
        var(--pico-primary-hover) 0%,
        var(--pico-primary-focus) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* color: var(--pico-primary-inverse); */
      font-size: 3.5rem;
      font-weight: 500;
      margin-bottom: 0;
    }
    > h4 {
      position: sticky;
      color: var(--pico-primary-inverse);
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  /* .cta:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--pico-primary-hover-background);
    opacity: 0.75;
    clip-path: url(#clip); /* applying clip animation 
  } */
  /* @media screen and (min-width: 769px) {
    .cta-wrap {
      margin-top: 100px;
    }
  } */
</style>
