---
import Callbutton from "./Callbuttonjelly.astro";
import fphero from "../images/FPHeroBW.png";
import Logo from "./Logo.astro";
import CTA from "./CTA.astro";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<div class="container-fluid fp-header">
  <Logo />
  <Callbutton />
  <Hamburger />
  <Navigation />
  <CTA />
</div>
<div class="container"></div>
<style define:vars={{ fphero: `url(${fphero.src})` }}>
  .fp-header {
    position: relative;
    flex-flow: row wrap;
    height: 500px;
    background: var(--fphero) center/cover no-repeat;
    border-image: fill 0
      linear-gradient(
        rgb(from var(--pico-color) r g b / 0.95),
        rgb(from var(--pico-secondary) r g b / 0.3)
      ); /*your gradient here - top to bottom*/
    /* align-items: flex-start; */
  }
</style>
