---
const {
  title = "Mobile Mechanic",
  description = "Your Trusted Mechanic, On Your Schedule",
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
