---
const {
  title = "Mobile Mechanic",
  description = "Your Trusted Mechanic, On Your Schedule",
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="icon" type="image" href="/ota-orange-favicon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z5CT8SG0WH"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-Z5CT8SG0WH");
  </script>
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
