---
import DownIcon from "./QuillInlineDown.astro";
---

<nav class="main-nav">
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="/about/">ABOUT</a>
    </li>
    <li>
      <a href="/services/">SERVICES</a>
    </li>
    <li>
      <a href="/faq/">FAQ</a>
    </li>
    <li>
      <a href="/gallery/">GALLERY</a>
    </li>
    <li>
      <a href="/contact/">CONTACT</a>
    </li>
  </ul>
</nav>
<style lang="scss">
  li a {
    font-size: 0.9em;
    padding: 0 0.6em;
    font-weight: 300;
  }
  // nav li [role="button"] {
  //   margin: 0.5em 0;
  //   padding: 0.1em 0.5em;
  //   font-size: 1.5em;
  //   font-weight: 400;
  //   color: var(--pico-primary-inverse);
  //   background-color: var(--pico-primary);
  //   &:hover {
  //     color: var(--pico-primary);
  //     background-color: var(--pico-primary-inverse);
  //   }
  // }
</style>
