---
import "../styles/global.scss";
import Header from "../components/FPHeader.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <!--Start of Tawk.to Script-->
    <script is:inline type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/68eddfbbab07261951f5939f/1j7gj3u1a";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
